<.header>
  New Variant
  <:subtitle>Use this form to manage variant records in your database.</:subtitle>
</.header>

<.variant_form changeset={@changeset} action={~p"/variants"} />

<.back navigate={~p"/variants"}>Back to variants</.back>
