<.header>
  New Filament
  <:subtitle>Use this form to manage filament records in your database.</:subtitle>
</.header>

<.filament_form changeset={@changeset} action={~p"/filaments"} />

<.back navigate={~p"/filaments"}>Back to filaments</.back>
