<.header>
  Edit Material {@material.id}
  <:subtitle>Use this form to manage material records in your database.</:subtitle>
</.header>

<.material_form changeset={@changeset} action={~p"/materials/#{@material}"} />

<.back navigate={~p"/materials"}>Back to materials</.back>
