<.header>
  New Spool
  <:subtitle>Use this form to manage spool records in your database.</:subtitle>
</.header>

<.spool_form changeset={@changeset} action={~p"/spools"} />

<.back navigate={~p"/spools"}>Back to spools</.back>
